
<li><a class="nav-link scrollto active" href="/">Home</a></li>
<li><a class="nav-link scrollto" href="/Category/Index">Category</a></li>
<li><a class="nav-link scrollto" href="/Orders/Index">Orders</a></li>
<li><a class="nav-link scrollto" href="/About/Index">About</a></li>

