@using ELAKIL.Business.IService;
@inject IUserProfileService userProfileService

<li><a class="nav-link scrollto" asp-fragment="hero" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
<li><a class="nav-link scrollto" asp-fragment="" asp-area="" asp-controller="About" asp-action="Index">About</a></li>
<li><a class="nav-link scrollto" asp-fragment="menu" asp-area="" asp-controller="Home" asp-action="Index">Menu</a></li>
<li><a class="nav-link scrollto" asp-fragment="specials" asp-area="" asp-controller="Home" asp-action="Index">Specials</a></li>
<li><a class="nav-link scrollto" asp-area="" asp-controller="ContactUs" asp-action="Contact">Contact Us</a></li>
