@using ELAKIL.Business.IService;
@inject IUserProfileService userProfileService

<li><a class="nav-link scrollto" asp-fragment="hero" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
<li><a class="nav-link scrollto" asp-fragment="" asp-area="" asp-controller="About" asp-action="Index">About</a></li>
<li><a class="nav-link scrollto" asp-fragment="menu" asp-area="" asp-controller="Home" asp-action="Index">Menu</a></li>
<li><a class="nav-link scrollto" asp-fragment="specials" asp-area="" asp-controller="Home" asp-action="Index">Specials</a></li>

<li><a class="nav-link scrollto" asp-area="" asp-fragment="contact" asp-controller="Home" asp-action="Index">Contact Us</a></li>
<!--//{ var myUser = userProfileService.GetUserProfileId(User.Identity.Name);}
<li><a class="nav-link scrollto" asp-area="" asp-fragment="" asp-route-Id="myUser" asp-controller="Home" asp-action="CheckOut">Checkout</a></li>-->
