@model IEnumerable<ELAKIL.Business.Entities.Category>

<table>
    <thead>
        <tr>
            <td>Name</td>
        </tr>
    </thead>
      <tbody>
          @foreach (var item in Model)
          {
              <tr>
                  <td>@item.Name</td>
              </tr>
          }
      </tbody>
    
</table>