@model IEnumerable<ELAKIL.Business.Entities.Category>
@{
    ViewData["Title"]= "Categories";
}
<main id="main">
    <section class="breadcrumbs">
        <div class="container" data-aos="fade-up">

            <div class="d-flex justify-content-between align-items-center">
                <a href="/Category/Create"><i class="bi bi-plus-lg"></i> Create</a>
                <ol>
                    <li><a href="/Home">Home</a></li>
                    <li>Category</li>
                </ol>
            </div>

        </div>
    </section>
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Categories</h2>
            </div>

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                @if (item.Description != null)
                                {
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        @item.Description
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                }
                                @if (item.Image != null)
                                {
                                    <img src="@item.Image" class="testimonial-img" alt="">
                                }

                                <h3>@item.Name</h3>
                                <div class="text-center">
                                    <a href="/Category/Edit/@item.Id" class="mr-3"><i class="bi bi-pencil-square"></i></a>
                                    <a href="/Category/Delete/@item.Id"><i class="bi bi-trash"></i></a>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->
                    }
                    </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>

</main><!-- End #main -->
