@model ELAKIL.Business.Entities.Meal
@inject ELAKIL.Business.IService.ICategoryService _catService

@{
    ViewData["Title"] = "Delete";
}

<main id="main">
    <section class="breadcrumbs">
        <div class="container" data-aos="fade-up">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Delete Meal</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Meal</li>
                </ol>
            </div>

        </div>
    </section>
    <div class="mt-5 container" data-aos="fade-up">
        <section class="contact">
            <div class="container scoped-content">
                <style>
                    img {
                        width: 400px;
                        height: 400px;
                    }
                </style>
                <div data-aos="fade-up" data-aos-delay="100">
                    <div class="row">
                        <div class="col-lg-6 details order-2 order-lg-1">
                            <h3>@Model.Name</h3>
                            <p class="fst-italic">@Model.Description</p>
                            <p class="fst-italic">@((await _catService.GetCategoryAsync(Model.CategoryId)).Name)</p>
                            <p class="fst-italic">$@Model.Price</p>

                            <form asp-action="Delete" method="post" class="php-email-form">
                                <input asp-for="Id" type="hidden" />
                                <div class="mb-3"><button type="submit">Delete</button></div>
                                <a href="/Meals"><i class="bi bi-arrow-left"></i> Go Back</a>
                            </form>
                        </div>
                        @if (Model.Image != null)
                        {
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="@Model.Image" alt="" class="img-fluid">
                            </div>
                        }

                    </div>
                </div>

            </div>
        </section>
    </div>

    </main>
