@model IEnumerable<ELAKIL.Business.Entities.Meal>

@{
    ViewData["Title"] = "Meals";
}

<div class="container" data-aos="fade-up">

    <section class="breadcrumbs">
        <div class="container" data-aos="fade-up">

            <div class="d-flex justify-content-between align-items-center">
                <a href="/Meals/Create"><i class="bi bi-plus-lg"></i> Create</a>
                <ol>
                    <li><a href="/Home">Home</a></li>
                    <li>Meal</li>
                </ol>
            </div>

        </div>
    </section>

</div>
<div class="mt-5 container">
    <div class="container scoped-content" data-aos="fade-up">
        <style>
            img {
                height: 100%;
                width: 100%;
            }
            .swiper-pagination-bullet{
                background-color: aliceblue;
            }
        </style>
        <div class="section-title">
            <h2>Meals</h2>
        </div>
        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            @if (item.Description != null)
                            {
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    @item.Description
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            }
                            @if (item.Image != null)
                            {
                                <img src="@item.Image" style="max-height:200px" class="testimonial-img" alt="">
                            }
                            @if (item.Price != 0.0)
                            {
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left">Price: </i>
                                    $@item.Price
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            }

                            <h3>@item.Name</h3>
                            <div class="text-center">
                                <a href="/Meals/Edit/@item.Id" class="mr-3"><i class="bi bi-pencil-square"></i></a>
                                <a href="/Meals/Delete/@item.Id"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>


