@{
    ViewData["Title"] = "Meals";
}
<main id="main">
    <section class="breadcrumbs">
        <div class="container" data-aos="fade-up">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Meals</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Meals</li>
                </ol>
            </div>

        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <input  onchange="searchMeals()" id="searchInput" style="background: #0c0b09; border: 1px solid #ced4da; color: white " type="text" class="form-control" name="mealName" placeholder="Search" />
            </div>
        </div>
    </div>
    <div class="menu section-bg container">
        <div class="row">
            <div id="items" class="row">

            </div>
            <div class="text-center mt-3">
                <div id="loadMessage" style="display:none" class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{ 
    <script>
        $(function () {
            FetchDataFromServer();
            $(window).scroll(function () {
                if ($(window).scrollTop() ==
                    ($(document).height()) -( $(window).height())) {
                    if ($('#loadMessage').css('display') == 'none') {
                        var pageIndex = $("#items").children().length;
                        FetchDataFromServer(pageIndex);
                    }
                }
            });
        });

        function FetchDataFromServer(pageIndex=0) {
            $("#loadMessage").toggle();
            
            var searchVal = $("#searchInput").val();
            $.ajax("/Meals/FetchData", {
                type: "GET",
                data: { pageIndex: pageIndex, search: searchVal },
                success: function (data) {
                    $("#items").append(data);
                    $("#loadMessage").toggle();
                },
                error: function () {
                    $("#loadMessage").toggle();
                }
            });
        }
        $("#searchInput").on('keyup', searchMeals);
        function searchMeals() {
            $("#items").empty();
            FetchDataFromServer();
        }
    </script>

}